<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>
  <!-- ionic files-->
  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
  <!-- pouchdb libraries -->
  <script src="lib/pouchdb/dist/pouchdb.js"></script>
  <script src="js/angular-pouchdb.js"></script>
  <script src="js/ng-pouchdb-collection.js"></script>
  <!-- our app's js -->
  <script src="js/app.js"></script>
</head>
<body ng-app="TodoNgPouchdb" ng-controller="TodoCtrl">

<ion-pane>
  <ion-header-bar class="bar-positive">
    <button class="button button-icon" ng-click="toggleOnline()">
      <i class="icon" ng-class="{'ion-connection-bars' : online, 'ion-alert-circled' : !online}"></i>
    </button>
    <h1 class="title">ToDo ng-pouchdb</h1>
    <button class="button button-icon" ng-click="newTask()">
      <i class="ion-compose icon"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="task in tasks"
                class="item-icon-right"
                ng-class="{complete: task.completed}"
                ng-click="toggleCompletion(task)">
        {{task.title}}
        <i class="icon ion-ios-arrow-left"></i>
        <ion-option-button class="button-assertive"
                           ng-click="deleteTask(task)">
          Delete
        </ion-option-button>
        <ion-option-button class="button-energized"
                           ng-click="editTask(task)">
          Edit
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-pane>
</body>
</html>
